footer {
  /* background-color: #030424; */

  padding: 100px 0;
  padding-bottom: 0px;
  color: #fff;
}
.flex-div-foot {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.box-footer-div {
  width: 30%;
}
footer h2 {
  margin-bottom: 30px;
  font-size: xx-large;
  color: #e94560;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: #0c2a4d;
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: medium;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h4 {
  font-size: x-large;
  margin-bottom: 20px;
}
footer li {
  font-size: medium;
  margin-bottom: 10px;
  opacity: 0.5;
}
@media screen and (max-width: 980px) {
  .flex-div-foot {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .box-footer-div {
    width: 100%;
    margin-bottom: 40px;
  }
}
